language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"

env:
  matrix:
    - FLAKE8_VERSION=""
    - FLAKE8_VERSION="3.0"

install:
  - pip install poetry
  - poetry install
  - if [[ -n "$FLAKE8_VERSION" ]]; then poetry run pip install flake8=="$FLAKE8_VERSION"; fi
script:
  - poetry run pytest
